<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/public/main.css">
    <title>Document-index2</title>
</head>
    <h1>This is a ejs template <%= data.userQuery %></h1>
    <% if (data.loggedIn){ %>
        <h2>you are logg in as : <%= data.username %></h2>
    <% } %>
    <% data.loggedIn ? %> <%= you are log In as data.username %> <% : %> <%= 'you are not log in' %>
    <ul>
        <% data.searchResult.map(item=>{ %>
            <li><%= item %></li>
        <% }); %>
    </ul>
</html>

